h1{
    font-size: 2ex;
    color:blue;

}



ul {
    text-align: right;
}

li {
    display: inline;
    color: blue;
}


h2{
    position: relative;
    top: 680px;
    font-size:6ex;

}

p{
    position: relative;
    top: 650px;
}


p {
    width: 1200px;
    height: 250px;
    background-color: blue;
}

img{
    position: absolute;
    bottom:20px;
    left:600px;
}
img{
    width: 900px;
    height: 680px;
}


