.title{
    font-size: 3.5ex;
    color:blue;

}



.nav-list {
    text-align: right;
}

.nav-item {
    display: inline;
    color: blue;
}


.title2{
    bottom: 680px;
    font-size:6ex;

}

.box{
    position: relative;
    bottom: 0;
    width: 75vw;
    height: 30vh;
    background-color: blue;
}


.photo{
    position: absolute;
    right: 0;
    bottom:15vw;
    width: 66%;
    height: 200%;
}



