h1{
    font-size: 2ex;
    color:blue;

}



ul {
    text-align: right;
}

li {
    display: inline;
    color: blue;
}


h2{
    position: relative;
    top: 280px;
    font-size:6ex;

}

p{
    position: relative;
    top: 250px;
}


p {
    width: 700px;
    height: 150px;
    background-color: blue;
}

img{
    position: absolute;
    bottom:150px;
    left:510px;
}
img{
    width: 500px;
    height: 450px;
}


